---
import "../../css/bgdich-vu.css";
import { fetchTrangCamNang } from "../../lib/api/cam-nang";
import type { TrangCamNang } from "../../types/cam-nang";

// Lấy dữ liệu từ API
const trangCamNang: TrangCamNang = await fetchTrangCamNang();

const bannerData = {
  imageUrl: trangCamNang.anh_url,
  title: trangCamNang.tieude,
  description: trangCamNang.mota,
};
---

<section>
  <div
    class="banner-container"
    style={`background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('${bannerData.imageUrl}');`}
  >
    <div class="banner-content">
      <h1>{bannerData.title}</h1>
      <p>{bannerData.description}</p>
    </div>
  </div>
</section>

